.view-products {
  @include clearfix;
  background: #2b63a4;
  display: flex;
  flex-flow:wrap;
      justify-content:center;
    align-items:center;
  .views-row, .view-header {
    position: relative;
    background: #000;
   // width: 100%;
    transition: all .25s linear;
    line-height: 0;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      @include flex(0 0 50%);
      overflow: hidden;
    }
    img {
      width: 100%;
      transition: all .25s linear;
      opacity: 0.7;
    }
    a {
      display: block;
    }
    .btn {

    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    top: 45%;
    text-align: center;
    transition: all .25s linear;
    line-height: 1.65;
    a {
      display: inline-block;
      transition: all .25s linear;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    }
    }
    &:hover {
      transition: all .25s linear;
      img {
        opacity: 0.9;
      }
      .btn a {
        background: lighten($color-one, 10%);
        border:5px solid $color-one;
      }
    }
  }
  .view-header {
    background: none;

    &:after {
      content: '';
      width: 150px;
      height: 180px;
      background: url('../images/explore-icon.png');
      display: block;
      text-align: center;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 47%;
      top: calc(50% - 90px);
    }
    h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      margin: 0;
      padding: 3em 2em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
         padding: 0 2em 0;
      }
    }
  }
}

#block-block-2 {
  background: url('../images/home-about-bg.jpg');
  padding: 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 3em;
  }
  img {
    max-width: 150px;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      max-width: none;
    }
  }
  .content { 
    margin: 0 auto;
    text-align: center;
    color: #fff;
     @include breakpoint($tablet, $no-query: '.no-mq') {
       max-width: 70%;
     }
    h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        font-size: 2em;
      }
    }
    p {
      font-size: 1em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        font-size: 1.3em;
      }
    }
  }
}